In [1]:
print("hello")

hello

In [5]:
for x in "fruits":
    print(x)
    if x == "u":
              
            break

f
r
u

In [10]:
for x in "banana":
    if x == "a":
        continue
print(x)

a

In [11]:
print(range(6))

range(0, 6)

In [12]:
for x in range(6):
    print(x)

0
1
2
3
4
5

In [13]:
for x in range(2, 40, 3):
    print(x)

2
5
8
11
14
17
20
23
26
29
32
35
38

In [28]:
for x in range(7):
    
    print(x)
else:
    print("finished")

0
1
2
3
4
5
6
finished

In [27]:
for x in [2,3,4]:
    pass

In [29]:
a = 456
b = 123

if a<b:
    print("a id less than b")
else:
    print("a is greter than b")

a is greter than b

# python functions

In [30]:
def myfunc():
    print("hello func")
    
myfunc()

hello func

In [39]:
def myfunc(fname):
    print(fname + "joy")

    

myfunc("force")
myfunc("kimble")

forcejoy
kimblejoy

In [40]:
def myfunc(fname, lname):
    print(fname +" "+ lname)
    
    
myfunc("kimble","musk")

kimble musk

In [42]:
def myf(c1,c2,c3):
    print("my youngest child is" + " " +c3)
    
myf(c1= "jo", c2= "ko", c3 = "pi")

my youngest child is pi

In [48]:
fruits = ["apple","banana","kiwi"]
fruits1 = ["graps","gold","tomato"]

def myfunc(food):
    for x in food:
        print(x)
        
myfunc(fruits) 


myfunc(fruits1)

apple
banana
kiwi
graps
gold
tomato

In [54]:
def myf(x):
    return (x**2 + 2*x)

print(myf(2))

8

In [15]:
def try_recursion(k):
    if(k<5):
        result = k + try_recursion(k+1)
        print(result)
    else:
        result = 0
    return result
    


try_recursion(2)

4
7
9

9

In [14]:
def myfunction(anylist):
    mylist.append("kiwi")
    print(mylist)
    
mlist = ["apple","orange"]


myfunction(mylist)

['apple', 'orange', 'kiwi', 'kiwi', 'kiwi', 'kiwi', 'kiwi']

In [8]:
print(mylist)

['apple', 'orange', 'kiwi', 'kiwi', 'kiwi']

In [9]:
print(mlist)

['apple', 'orange']

In [11]:
myfunction(mlist)

['apple', 'orange', 'kiwi', 'kiwi', 'kiwi', 'kiwi']

In [30]:
def func(x):
    result= x**x**x + 45 + x*2
    if result < 60:
                 print("result is less than 60")
    else:
                 print(result)
            

func(2)

65

In [38]:
mytu = tuple(("jan","feb","march","april"))

print(mytu)

('jan', 'feb', 'march', 'april')

In [34]:
print(tuple())

()

In [39]:
print(mytu)

('jan', 'feb', 'march', 'april')

In [47]:
for x in mytu:
   
    if x == "march":
        break
    print(x)

jan
feb

In [1]:
x = lambda a : a*89

print(x(2))

178

In [5]:
a = lambda x : x + 45


print(a(20))

65

In [9]:
def myfunction(n):
    return lambda a : a*n

fun = myfunction(2)

print(fun(50))

100

In [10]:
# function contains lambda so lambda is my new funtion

In [11]:
car = ["bmw","ford","tata","benz"]

'bmw'

In [12]:
print(car)

['bmw', 'ford', 'tata', 'benz']

In [13]:
print(car[2])

tata

In [14]:
car[3]= "toyota"

In [15]:
print(car)

['bmw', 'ford', 'tata', 'toyota']

In [16]:
car.append("benz")

In [17]:
car.pop(0)

'bmw'

In [18]:
print(car)

['ford', 'tata', 'toyota', 'benz']

In [19]:
car.sort()

In [21]:
print(car)

['benz', 'ford', 'tata', 'toyota']

In [22]:
print(car.sort(reverse = True))

None

In [23]:
print(car)

['toyota', 'tata', 'ford', 'benz']

In [24]:
print(car.copy())

['toyota', 'tata', 'ford', 'benz']

In [28]:
car.count("tata")

1

car.index("ford")

In [36]:
class Myclass:
    x = 10
    
p1 = Myclass()

print(p1,x)

<__main__.Myclass object at 0x00000184C0340160> <function <lambda> at 0x00000184C025CD30>

In [37]:
print(p1,x)

<__main__.Myclass object at 0x00000184C0340160> <function <lambda> at 0x00000184C025CD30>

In [54]:
class person:
      def __init__(self,name,age):
            self.name = name
            self.age = age
            
def myfunc(self):
    print("my name is" + " " +self.name)
            

print(harry.name)

harry

In [4]:
def add(a,b,c):
    return a+b+c


print(add(4,4,5))

13

In [65]:
mytuple = ("apple","kiwi","graps")
myit = iter(mytuple)


a=" and ".join(mytuple)
print(a)

for item in mytuple:
    print(item, ", ")

apple and kiwi and graps
apple ,
kiwi ,
graps ,

In [16]:
next(myit)

StopIteration:

In [18]:
for x in mytuple:
    print(x)

apple
kiwi
graps

In [ ]:
class mynumbers:
    def __iter__(self):
        self.a = 1
        return self
    
    def __next__(self):
        if self.a <=10:
            x = self.a
            self.a += 1
            return x
        else:
            return StopIteration
        
myclass = mynumbers()
myiter = iter(myclass)

for x in myiter:

# python math

In [1]:
min(7,45,78)

7

In [2]:
pow(12,3)

1728

In [3]:
import math

x = dir(math)
print(x)

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'comb', 'copysign', 'cos', 'cosh', 'degrees', 'dist', 'e', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'isqrt', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'perm', 'pi', 'pow', 'prod', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc']

In [5]:
math.sqrt(2500)

50.0

In [6]:
math.pi

3.141592653589793

In [7]:
import json

dir(json)

['JSONDecodeError',
 'JSONDecoder',
 'JSONEncoder',
 '__all__',
 '__author__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '_default_decoder',
 '_default_encoder',
 'codecs',
 'decoder',
 'detect_encoding',
 'dump',
 'dumps',
 'encoder',
 'load',
 'loads',
 'scanner']

TypeError: 'str' object is not callable

In [10]:
x =  ("bez","tata","maruti")

y = json.dumps(x)

In [11]:
print(y)

["bez", "tata", "maruti"]

In [12]:
type(y)

str

In [13]:
json.loads(y)

['bez', 'tata', 'maruti']

In [14]:
type(y)

str

In [19]:
"we are goinf to win,\n otherwise we will go to hell"

'we are goinf to win,\n otherwise we will go to hell'

In [20]:
import re

In [21]:
dir(re)

['A',
 'ASCII',
 'DEBUG',
 'DOTALL',
 'I',
 'IGNORECASE',
 'L',
 'LOCALE',
 'M',
 'MULTILINE',
 'Match',
 'Pattern',
 'RegexFlag',
 'S',
 'Scanner',
 'T',
 'TEMPLATE',
 'U',
 'UNICODE',
 'VERBOSE',
 'X',
 '_MAXCACHE',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '__version__',
 '_cache',
 '_compile',
 '_compile_repl',
 '_expand',
 '_locale',
 '_pickle',
 '_special_chars_map',
 '_subx',
 'compile',
 'copyreg',
 'enum',
 'error',
 'escape',
 'findall',
 'finditer',
 'fullmatch',
 'functools',
 'match',
 'purge',
 'search',
 'split',
 'sre_compile',
 'sre_parse',
 'sub',
 'subn',
 'template']

In [22]:
txt = "we are the one who can do it all, with the utmost priority!"

In [24]:
x = re.search("\s", txt)
print(x)

<re.Match object; span=(2, 3), match=' '>

In [26]:
q = re.split(",", txt)
print(q)

['we are the one who can do it all', ' with the utmost priority!']

In [28]:
w = re.search("ity!$", txt)
print(w)

<re.Match object; span=(55, 59), match='ity!'>

In [31]:
e = re.search("^who", txt)
print(e)

None

In [33]:
r = re.search("[cwo]",txt)
print(r)

<re.Match object; span=(0, 1), match='w'>

In [35]:
t = re.search("[a-m]", txt)
print(t)

<re.Match object; span=(1, 2), match='e'>

In [37]:
y =re.findall("it", txt)
print(y)

['it', 'it', 'it']

In [39]:
u = re.findall("who", txt)
print(u)

['who']

In [41]:
i = re.findall("care",txt)
print(i)

[]

In [42]:
o = re.sub(" ","_", txt)
print(o)

we_are_the_one_who_can_do_it_all,_with_the_utmost_priority!

In [44]:
p = re.search("[0-9]",txt)
print(p)

None

In [73]:
lis = [ 45, 78 ,1 , 2, 23,0, 45,26,7,5,6,89]

for newlist in lis:
    if newlist >= 6: 
         print(newlist + 100)

145
178
123
145
126
107
106
189

In [30]:
class person:
    
    def __init__(self,name,age,schoolname,std):
                        self.name = name
                        self.age = age
                        self.sname = schoolname
                        self.std = std
            
    def printform(self):
              print(self.name)
            
        
    class student(person):
          def form(self):
                 return  (self.name, self.age)
            

            
            
x = person("jay","15","ppsv","10th")
maan = person("maan","14","svl","9th")
nitin = person("nitin","15","ppsv","10th")
qwe =  student("jerry","14","dnv","9th")

nitin.printform()

NameError: name 'student' is not defined

#newmarkdown

In [16]:
 "print hello"

try:
    #to find error
    print(q)
except:
    #to handle the error
    print("error occured")
finally:
    #to execute the code regarless of try and except
    print("it is done")

error occured
it is done

In [28]:
x = 1

try: 
    def func(x):
        if x >2:
               return x*2 + 45
except:
    print("x is not greater than 2")

In [31]:
x = "hello"

if type(x) is not int:
    raise TypeError("x is not an integer")

TypeError: x is not an integer

In [32]:
import cmath

In [34]:
w = dir(cmath)
print(w)

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atanh', 'cos', 'cosh', 'e', 'exp', 'inf', 'infj', 'isclose', 'isfinite', 'isinf', 'isnan', 'log', 'log10', 'nan', 'nanj', 'phase', 'pi', 'polar', 'rect', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau']

In [35]:
e = cmath.sqrt(45 + 5j)
print(e)

(6.718516416988466+0.37210595983340766j)

In [38]:
r = cmath.log(45 + 4j)
print(r)

(3.8105975814049224+0.08865588186743746j)

In [41]:
import statistics

a = statistics.mean((45,78,89,56,23))
print(a)

58.2

In [ ]:
username = input("enter yourname:")

print("your name is"+ " " + username)

In [15]:
# string format

x = 22

y = "python"

txt = "my age is {0} and i am learning {1}"
txt.format(22,"python")

'my age is 22 and i am learning python'

In [14]:
txt.format(22,"python")

NameError: name 'txt' is not defined

In [16]:
range(5)

range(0, 5)

In [51]:
def _recursive(n):
    if n == 0:
        return 0
    elif n ==1:
        return 1
    else:
         result = n**2 + _recursive(n-1)
    return result

userinput = input("enter the number:")
userz = float(userinput)

print("your answer is",_recursive(userz))

try:
    _recursive(n)
except:
    print("error did not ocurred")

enter the number:4
your answer is 30.0
error did not ocurred